@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC');

body {
  margin: 0;
  overflow: hidden;
  font-family: 'Amatic SC', cursive;
}

.overlay {
  opacity: 1;
  background-color: rgb(0, 0, 0);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  pointer-events: none;
  transition: opacity 1s;
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  background-color: transparent;
  font-size: 2rem;
  font-family: 'Amatic SC';
  opacity: 1;
  transition: opacity 1s;
}

.start {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4rem;
  font-family: 'Amatic SC';
  text-align: center;
  opacity: 0;
  transition: opacity 0.6s;
  cursor: default;
  display: none;
}

.start.fadeIn {
  opacity: 1;
}

.overlay.fade,
.loading.fade,
.start.fadeOut {
  opacity: 0;
}

button {
  border: none;
  color: white;
  font-family: 'Amatic SC';
  font-size: 4rem;
  padding: 1rem;
  background-color: transparent;
  transition: opacity 0.6s;
  cursor: pointer;
}

@media (hover: hover) and (pointer: fine) {
  button:hover {
    color: #9effe7;
  }
}

.modal {
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 0;
  background-color: rgba(0, 0, 0, 0);
  overflow: hidden;
  opacity: 0;
}
.modal.visible {
  height: 100vh;
  overflow: auto;
  opacity: 1;
}

.modal-wrapper {
  position: relative;
  width: 90%;
  margin-top: 10px;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.modal-content {
  background-color: rgb(47 47 47 / 20%);
  backdrop-filter: blur(25px);
  height: auto;
  min-height: 200px;
  /* max-height: 50vh; */
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
  font-family: 'Poppins', sans-serif;
  margin: 0 auto;
  color: white;
}

#modalImg {
  width: 100%;
}

.close {
  padding: 0;
  width: 120px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 20px;
  background-color: rgb(47 47 47 / 20%);
  backdrop-filter: blur(25px);
  color: #fff;
  /* Set the color of the button text to white */
  font-size: 20px;
  font-weight: bold;
  transition: 0.6s ease-out;
  cursor: pointer;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  margin-top: 20px;
}

.close:hover,
.close:focus {
  background-color: rgba(255, 255, 255, 0.3);
}

.modal h1,
.modal p {
  margin: 0 0 15px 0;
}

.modal h1 {
  font-size: 30px;
  font-weight: 500;
}

.modal p {
  font-weight: 300;
}
.titles {
  font-weight: 600;
  font-size: 1.2rem;
}

a {
  color: white;
  text-underline-offset: 3px;
}
a:visited {
  color: rgb(172, 123, 246);
}
a:hover {
  color: rgb(143, 71, 252);
}
.controller {
  opacity: 0;
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  z-index: 3;
}
.controller.fadeIn {
  opacity: 1;
}

.controllerGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 10px;
}
.controllerGrid button {
  backdrop-filter: blur(25px);
  background-color: rgba(108, 108, 108, 0.2);
  border: white;
  border-radius: 0.375rem;
  padding: 0;
}
.controllerGrid button:active {
  color: rgb(172, 123, 246);
}
#T {
  grid-row-start: 1;
  grid-column-start: 2;
}
#L {
  grid-row-start: 2;
  grid-column-start: 1;
}
#B {
  grid-row-start: 2;
  grid-column-start: 2;
}
#R {
  grid-row-start: 2;
  grid-column-start: 3;
}
@media (min-width: 769px) {
  .controller {
    display: none;
  }
  .modal-wrapper {
    width: 50%;
    margin-top: 0;
  }
}
