@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #050a14;
  --foreground: #ededed;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #050a14;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: white;
  text-underline-offset: 3px;
}
a:visited {
  color: #ab7af5;
}
a:hover {
  color: #8f47fc;
}
